.imagen{
  float: left;
    margin-right: 10px;
}
.h4-medium {
    font-family:  barlow, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0px;
    color: #0033a0;
}
p{
    font-family:  barlow, sans-serif;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0px;
    color: #53565A;
    opacity: 1;
}
#recordButton {
    color: #0033A0;
    border-radius: 43px;
    cursor: pointer;
  	width: 46px;
  	font-size: 20px;
    height: 46px;
    background: #0033A033 0% 0% no-repeat padding-box;
    opacity: 1;
}

#recordButton:disabled {
	color: #0033A0;
    background: #0033A033 0% 0% no-repeat padding-box;
    font-weight: normal;
    cursor: not-allowed;
    width: 46px;
  	font-size: 20px;
    height: 46px;
    border-radius: 43px;
    
}

#stopButton {
    color: white;
    background-color: red;
    font-weight: bold;
    cursor: pointer;
    width: 46px;
  	font-size: 20px;
    height: 46px;
    border-radius: 43px;
}

#stopButton:disabled {
	  color: white;
    background-color: red;
    font-weight: normal;
    cursor: not-allowed;
    width: 46px;
  	font-size: 20px;
    height: 46px;
    border-radius: 43px;
}

#button {
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.02px;
  color: #fff;
  text-transform: uppercase;
  opacity: 1;
  font-family:  barlow, sans-serif;
  background: #0033A0 0% 0% no-repeat padding-box;
  width: 114px;
  height: 39px;
  border-radius: 20px;
}

#init {
    color: gray;
    background-color: #E3E829;
    font-weight: bold;
    cursor: pointer;
    height: 85px;
  	width: 24%;
}

.form-group>label {
  top: 12px ;
  position: relative;
  padding: 0px 5px 0px 5px;
  font-size: 12px  ;
  color: #0033A0 ;
  background-color: #fff;
}

.tipo-doc {
  top: 12px ;
  left: -110px  ;
  position: relative;
  padding: 0px 5px 0px 5px;
  font-size: 12px  ;
  color: #0033A0 ;
  background-color: #fff;
}



.numero {
  top: 12px  !important;
  left: -102px  !important;
  position: relative  !important;
  padding: 0px 5px 0px 5px  !important;
  font-size: 12px  !important;
  color: #0033A0 !important;
  background-color: #fff;
}

.edad {
  top: 13px  !important;
  left: -100px  !important;
  position: relative  !important;
  color: #0033A0 !important;
  background-color: #fff;
  z-index: 20;
}

.numero-id {
  top: 13px  !important;
  left: 45px  !important;
  position: relative  !important;
  color: #0033A0 !important;
  background-color: #fff;
  z-index: 20;
}

.label-cc{
    width: 156px !important;
}

.form-control{
    font-size:16px !important;
    width: 352px;
    height: 56px !important;
}

.centrado{
    text-align: -webkit-center;
}

.selectize-input{
    text-align: left;
    font-family:  barlow, sans-serif;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0px;
    color: #53565A;
    opacity: 1;
}
.well{
    background-color: #fff;
}
.input-group{
    width: 32% !important;
}

.input-group-addon {
    background-color: #fff !important; 
    border: none !important; 
    
}

 .buttonSecundary {
    font-family: barlow, sans-serif !important;
    font-size: 16px !important;
    color: #0033a0 !important;
    width: 106px !important;
    height: 33px !important;
    background: #fff !important;
    border: 2px solid #0033a0 !important;
    border-radius: 24px !important;
    font-weight: bold !important;
  
    
  }

.nombre {
  top: 12px  !important;
  left: -110px  !important;
  position: relative  !important;
  padding: 0px 5px 0px 5px  !important;
  font-size: 12px  !important;
  color: #0033A0 !important;
  background-color: #fff;
}
.margen-text{
  padding-top: 5px;
  margin-left: 10px;
}
.margen{
  padding-top: 5px;
  margin: 8px; 
}

.texto-sound{
 font-size: 13px; 
 width: 331px;
 text-align: left;
}
.sonidos{
  width: 352px;
  height: 124px;
  background-color: #ECF0F1; 
}

.iconos{
  position: relative;
    left: -13px;
    top: 10px;
}
.iconos-d{
  position: relative;
    left: -11px;
    top: 11px;
}
.texto-p{
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
  font-family: barlow, sans-serif !important;
  letter-spacing: 0.01px;
  color: #0033A0;
  opacity: 1;
}

.checkbox-text{
      width: 333px;
    font-size: 13px;
}

/* Estilos para el BusyIndicator */
.plotly.html-widget.html-widget-output.shiny-bound-output.js-plotly-plot {
  z-index: 22;
  position: relative; 
}

.plotlybars {
  padding: 0 10px;
  vertical-align: bottom;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.plotlybars-wrapper {
  width: 103px;
  height: 60px;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}

.plotlybars-text {
  color: #53565A;
  font-family: Barlow,sans-serif !important;
  font-size: 16px;
  text-align: center;
  margin-top: 5px;

  padding-bottom: 15px;
  letter-spacing: 0px;

}

.plotlybars-bar {
  background-color: #0033A0;
  height: 100%;
  width: 13%;
  position: absolute;

  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;

  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: linear;
}

.b1 { left: 0%; top: 88%; animation-name: b1; -webkit-animation-name: b1; }
.b2 { left: 14.3%; top: 76%; animation-name: b2; -webkit-animation-name: b2; }
.b3 { left: 28.6%; top: 16%; animation-name: b3; -webkit-animation-name: b3; }
.b4 { left: 42.9%; top: 40%; animation-name: b4; -webkit-animation-name: b4; }
.b5 { left: 57.2%; top: 26%; animation-name: b5; -webkit-animation-name: b5; }
.b6 { left: 71.5%; top: 67%; animation-name: b6; -webkit-animation-name: b6; }
.b7 { left: 85.8%; top: 89%; animation-name: b7; -webkit-animation-name: b7; }

@keyframes b1 { 0% { top: 88%; } 44% { top: 0%; } 94% { top: 100%; } 100% { top: 88%; } }
@-webkit-keyframes b1 { 0% { top: 88%; } 44% { top: 0%; } 94% { top: 100%; } 100% { top: 88%; } }

@keyframes b2 { 0% { top: 76%; } 38% { top: 0%; } 88% { top: 100%; } 100% { top: 76%; } }
@-webkit-keyframes b2 { 0% { top: 76%; } 38% { top: 0%; } 88% { top: 100%; } 100% { top: 76%; } }

@keyframes b3 { 0% { top: 16%; } 8% { top: 0%; } 58% { top: 100%; } 100% { top: 16%; } }
@-webkit-keyframes b3 { 0% { top: 16%; } 8% { top: 0%; } 58% { top: 100%; } 100% { top: 16%; } }

@keyframes b4 { 0% { top: 40%; } 20% { top: 0%; } 70% { top: 100%; } 100% { top: 40%; } }
@-webkit-keyframes b4 { 0% { top: 40%; } 20% { top: 0%; } 70% { top: 100%; } 100% { top: 40%; } }

@keyframes b5 { 0% { top: 26%; } 13% { top: 0%; } 63% { top: 100%; } 100% { top: 26%; } }
@-webkit-keyframes b5 { 0% { top: 26%; } 13% { top: 0%; } 63% { top: 100%; } 100% { top: 26%; } }

@keyframes b6 { 0% { top: 67%; } 33.5% { top: 0%; } 83% { top: 100%; } 100% { top: 67%; } }
@-webkit-keyframes b6 { 0% { top: 67%; } 33.5% { top: 0%; } 83% { top: 100%; } 100% { top: 67%; } }

@keyframes b7 { 0% { top: 89%; } 44.5% { top: 0%; } 94.5% { top: 100%; } 100% { top: 89%; } }
@-webkit-keyframes b7 { 0% { top: 89%; } 44.5% { top: 0%; } 94.5% { top: 100%; } 100% { top: 89%; } }

ul {
    list-style-image: url("Grupo-4062.png");
    width: 50%;
}

li{
    text-align: left;
    padding-bottom: 15px;
    text-align: left;
    font-family: Barlow,sans-serif !important;
    font-size: 16px;
    letter-spacing: 0px;
    color: #53565A;
}
.centrado{
        text-align: -webkit-center;
}
.buttonPrimary{
    width: 200px;
    height: 40px; 
    border: none;
    border-radius: 24px;
    background: #0033A0;
    color: #FFFFFF;
    font-family:Barlow,sans-serif !important;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
.ancho{
    width: 240px;
}
.icono{
    list-style-image: url("icono.png");
}
.h4{
    font-family: Barlow,
    sans-serif;
    color: #0033A0;
    font-weight: bold;
    font-size: 24px;
}

.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}

@media (max-width: 1024px) {
  .form-control{
    width: 352px;
  }
  .input-group{
    width: 38% !important;
  }
}
@media (max-width: 768px) { 
  .input-group{
    width: 53% !important;
  }
  


}

@media (max-width: 425px) {
    
  .input-group{
    width: 100% !important;
    
  }
  .tipo-doc {
    left: -98px !important;
  }
  .edad{
    left: -86px !important;
  }
  .nombre{
    left: -100px !important;
  }
  .form-control{
    width: 100%;
  }
  .sonidos{
    width: 100%;
    
  }
  .texto-sound{
    width: 90%;
  }
  .margin-responsive{
    margin-top: 10px;
  }
  .widt-responsive{
    width:100% !important;
  }
  ul {
    width:90%;
  }
}

@media (max-width: 375px) {
  .tipo-doc {
    left: -71px !important;
  }
  .edad{
    left: -62px !important;
  }
  .nombre{
    left: -75px !important;
  }
  .input-group-addon1{
    display: none;
  }
  .buttonSecundary{
    width: 84px !important;
    margin-left: 10px;
  }
    
}

@media (max-width: 320px) {
   .tipo-doc {
    left: -45px !important;
  }
  .edad{
    left: -32px !important;
  }
  .nombre{
    left: -45px !important;
  }
  .texto-sound{
    width: 85%;
  }
  .input-group1{
    justify-content: center;
  }
  .input-numero{
    width: 50% !important;
  }
  .numero-id{
    left: 20px !important;
  }
}



